[submodule "deps/kdbx.dart"]
	path = deps/kdbx.dart
	url = git@github.com:quillgen/kdbx.dart.git
[submodule "deps/native_sqlcipher"]
	path = deps/native_sqlcipher
	url = git@github.com:quillgen/native_sqlcipher.git
